@using BlogSystem.Common
@using BlogSystem.Web.Models.CommentInputModels
@using Microsoft.AspNet.Identity
@model BlogSystem.Web.Models.BlogViewModels.BlogPostViewModel

@{
    ViewBag.Title = Model.Title;
    const string CommentsPartialViewsFolder = "~/Views/Comments/{0}.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="pull-left blog-gray-info blog-word-wrap">@ViewBag.Title</h2>
        </div>
    </div>
</div>


<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-post-tags">
                <ul class="list-unstyled list-inline blog-info">
                    <li>
                        <i class="glyphicon glyphicon-calendar"></i>
                        @Model.CreatedOn.ToString("MMMM dd, yyyy, HH:mm:ss tt")
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-pencil"></i>
                        @Model.Author
                    </li>
                    @if (User.IsInRole(GlobalConstants.AdminRoleName))
                    {
                        <li>
                            <a href="@Url.Action("Details", "BlogPosts", new { area = "Administration", id = Model.Id })" class="btn btn-info">
                                <i class="glyphicon glyphicon-menu-hamburger"></i>
                                <span>Post Details</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "BlogPosts", new { area = "Administration", id = Model.Id })" class="btn btn-warning">
                                <i class="glyphicon glyphicon-edit"></i>
                                <span>Edit Post</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Delete", "BlogPosts", new { area = "Administration", id = Model.Id })" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete Post</span>
                            </a>
                        </li>
                    }

                </ul>

                <hr/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="blog-word-wrap">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>

    <hr/>
    <div class="col-md-12">
        <h3 class="text-center">Comments</h3>

        <hr/>
        @if (Model.Comments.Any())
        {
            foreach (var comment in Model.Comments)
            {
                <div id="comment-@comment.Id">
                    <div class="panel panel-default">
                        <div class="panel-body blog-word-wrap">
                            <div class="media">
                                <div class="media-heading">
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <i class="glyphicon glyphicon-user"></i>
                                            <span>@comment.User </span>
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-calendar"></i>
                                            <span>@comment.CommentedOn.ToString("MMMM dd, yyyy, HH:mm:ss tt")</span>
                                        </li>
                                        @if (User.Identity.IsAuthenticated && (User.Identity.GetUserId() == comment.UserId || User.IsInRole(GlobalConstants.AdminRoleName)))
                                        {
                                            <li>
                                                <a href="@Url.Action("Edit", "Comments", new { id = comment.Id })" class="btn btn-warning btn-sm">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                    <span>Edit Comment</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <hr/>
                                </div>
                                <div>
                                    @Html.Raw(comment.Content)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h4>No available comments</h4>
        }

    </div>
    <div class="col-md-12">
        @Html.Partial(string.Format(CommentsPartialViewsFolder, "_CreateComment"), new CommentInputModel(Model.Id))
        <hr/>
    </div>

</div>

