@model BlogSystem.Web.Areas.Administration.ViewModels.Home.IndexAdminPageViewModel
@{
    ViewBag.Title = "Administration";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="blog-gray-info pull-left">@ViewBag.Title</h2>
        </div>
    </div>
</div>

<hr/>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>
                <strong>Blog Posts</strong>
                <a href="@Url.Action("Index", "BlogPosts", new { area = "Administration" })" class="btn btn-primary">
                    <span>Manage</span>
                </a>
            </h3>

            <table class="blog-table-word-wrap table table-bordered table-striped table-hover ">
                <tr>
                    <td class="col-md-2">
                        <strong>Blog Posts</strong>
                    </td>
                    <td class="col-md-2">
                        <strong>Comments</strong>
                    </td>
                    <td class="col-md-2">
                        <strong>Actions</strong>
                    </td>
                </tr>
                <tr>
                    <td>@Model.BlogPostsCount</td>
                    <td>@Model.CommentsCount</td>
                    <td>
                        <a href="@Url.Action("Create", "BlogPosts", new { area = "Administration" })" class="btn btn-success btn-sm center-block">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add New Post</span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>


        <div class="col-md-4">
            <h3>
                <strong>Application Users</strong>
                <a href="@Url.Action("Index", "ApplicationUsers", new { area = "Administration" })" class="btn btn-primary">
                    <span>Manage</span>
                </a>
            </h3>

            <table class="blog-table-word-wrap table table-bordered table-striped table-hover ">
                <tr>
                    <td class="col-md-2">
                        <strong>Application Users</strong>
                    </td>
                    <td class="col-md-2">
                        <strong>Actions</strong>
                    </td>
                </tr>
                <tr>
                    <td>@Model.ApplicationUsersCount</td>
                    <td>
                        <a href="@Url.Action("Create", "ApplicationUsers", new { area = "Administration" })" class="btn btn-success btn-sm center-block">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add New User</span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>