@model IEnumerable<BlogSystem.Data.Models.BlogPost>

@{
    ViewBag.Title = "Blog posts";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="blog-gray-info pull-left blog-page-header">@ViewBag.Title</h2>
        </div>
    </div>
</div>

<hr/>

<p>
    <a href="@Url.Action("Create", "BlogPosts", new { area = "Administration" })" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Create New Post</span>
    </a>
</p>
<table class="table table-responsive table-hover table-striped">
    <tr>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Author.Email)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.DeletedOn)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th class="col-md-1">
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                <a href="@Url.Action("Details", "BlogPosts", new { area = "Administration", id = item.Id })" class="btn btn-primary btn-sm center-block text-center">
                    <i class="glyphicon glyphicon-th-list"></i>
                    <span>Details</span>
                </a>
                <a href="@Url.Action("Edit", "BlogPosts", new { area = "Administration", id = item.Id })" class="btn btn-warning btn-sm center-block text-center">
                    <i class="glyphicon glyphicon-edit"></i>
                    <span>Edit</span>
                </a>
                <a href="@Url.Action("Delete", "BlogPosts", new { area = "Administration", id = item.Id })" class="btn btn-danger btn-sm center-block text-center">
                    <i class="glyphicon glyphicon-erase"></i>
                    <span>Delete</span>
                </a>
            </td>
        </tr>
    }

</table>
